<%- include('../partials/header') %>

	<h1>Catch a Pokemon</h1>
	<form action="/pokemon" method="post">
		<label>Name</label>
		<select name="url">
			<% pokemon.forEach(p => { %>
				<option value="<%= p.url %> "><%= p.name %> </option>
			<% }) %>
		</select>
		<label>Nickname</label>
		<input type="text" name="nickname">
		<input type="submit" value="Catch!">
	</form>

<%- include('../partials/footer') %>