<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title><%= title %> </title>
</head>
<body>
	<% if (!/(?<=\/battle\/)\S*/.test(pathurl)) { %>
		<nav>		
			<% if (user?.pokemonImage && user?.currentPokemon) { %>
				<a href="/pokemon/<%= user?.currentPokemon?.toString()%>" <% if (pathurl === `/pokemon/${user?.currentPokemon?.toString()}`) {%>class="active"<% } %>><img src="<%= user.pokemonImage %>" alt="Pokemon"></a>
				<a href="/shop" <% if (pathurl === "/shop") {%>class="active"<% } %>>🪙: <%= user?.money %> </a>
			<% } else { %>
				<img src="/images/favicon.ico">
			<% } %>
			<div>
			</div> 
			<a href="/pokemon" <% if (pathurl === "/pokemon") {%>class="active"<% } %>>All Pokemon</a>
			<% if (user) { %>
				<a href="/pokemon/new" <% if (pathurl === "/pokemon/new") {%>class="active"<% } %> >Catch a Pokemon</a>
				<a href="/pokemon/user" <% if (pathurl === "/pokemon/user") {%>class="active"<% } %> >My Pokemon</a>
				<a href="/logout">Log Out</a>
			<% } else { %>
				<a href="/auth/google" class="login"><img src="https://i.imgur.com/FHjYyi0.png">&nbsp;Login</a>
			<% } %>
		</nav>
	<% } %>

	<main>
