@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&display=swap');

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

:root {
	--bordercolor: rgb(131, 73, 73);
}

body {
	padding: 0px;
	margin: 0px;
	font: 14px "Anek Devangar", "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #131516;
	color: white;
	vertical-align: middle;
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
	  "nav"
	  "main"
  }
  

nav {
	grid-area: "nav";
	background-color: #333;
	overflow: hidden;
	display: flex;
	width: 100%;
}

body > main {
	grid-area: "main";
	display: flex;
	flex-direction: column;
	align-items: center;
  }

nav a {
	display: flex;
	float: left;
	color: #f2f2f2;
	justify-content: center;
	padding: 14px 16px;
	align-items: center;
	text-decoration: none;
	font-size: 17px;
}

nav img {
	margin-right: auto;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}

nav a.active {
	background-color: #04AA6D;
	color: white;
}
  
.login img {
	height: 30px;
}

#pokemonshow {
	display: grid;
	grid-template-columns: auto auto;
	gap: 50px;
	border: black 2px solid;
	padding: 25px;
	padding-top: 0px;
	background-color:rgb(58, 58, 58);
	border-radius: 10px;
}

#battlebutton {
	margin-bottom: 25px;
}

#sprite div {
	background-color: white;
	border-radius: 10px;
}

#pokemonshow > div > div{
	background-color: white;
	border-radius: 10px;
	color: black;
	padding: 5px;
}

#pokemonshow > div > div > div{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

#pokemonshow > div > div > div > div:first-child{
	font-weight: 700;
}

#types {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.moves {
	flex-direction: column;
	align-items: flex-start;
}

.moves > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#movesform {
	margin-top: 10px;
}

#sprite {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#battle {
	display: flex;
	justify-content: space-between;
}

#opponents {
	background-color:rgb(58, 58, 58);
	border: black solid 2px;
	border-radius: 10px;
	padding: 25px;
}

table {
	border-left-width: 0;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 1rem;
	background-color: white;
	color: black;
}

th {
	font-weight: 700;
	font-size: 20px;
	padding: 10px;
}

#level {
	text-align: right;
}

td {
	padding: 10px;
}

.opponentrows table {
	width: 100%;
}

#battle > div {
	margin: 25px;
}

#statgrid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

a {
	color: rgb(0, 173, 242);
}

a:visited {
	color:#04AA6D;
}

.release {
	margin: 50px;
}

.battlesprite img{
	transform: scale(1.5);
}

#battleground {
	background-image: url('../images/pokebattlebackground.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 680px;
	height: 383px;
	user-select: none;
}

#opponentpokemon {
	display: flex;
	justify-content: space-between;
	margin-right: 160px;
	margin-top: 40px;
}

#userpokemon .health-bar {
	align-self: flex-end;
}

#userpokemon {
	display: flex;
	margin-left: 190px;
}

#battleactions {
	background-color: white;
	border: black solid 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	flex-basis: auto;
	width: 680px;
	height: 200px;
	user-select: none;
}

#messagebox {
	margin: 10px;
	font-size: 25px;
	font-weight: 700;
	color: black;
	border: black solid 5px;
	border-radius: 10px;
	height: 150px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

#movetable {
	text-align: center;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	color: black;
	justify-content: space-evenly;
	padding: 10px;
}

#moveinfo {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#moveinfo > .headers {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 5px;
}

#info {
	white-space: pre;
}

.info {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	font-size: 15px;
	text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.info div {
	display: flex;
	justify-content: space-between
}

#opponentpokemon .info {
	margin-bottom: 100px;
}

#opponentpokemon .battlesprite {
	align-self: flex-end;
}

#userpokemon .info {
	margin-top: 50px;
}

.health-bar {
	box-sizing: border-box;
	width: 300px;
	height: 30px;
	padding: 5px;
	background: #ddd;
	border-radius: 5px;
	position: relative;
}
.bar {
	background: rgb(43, 178, 41);
	width: 100%;
	height: 20px;
	position: relative;
	
	transition: width .5s linear;
}

.lowhealth {
	background: red;

	animation: flashing .25s linear infinite;
}
  
.hit {
	background: rgba(255,255,255,0.6);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0px;
	
	transition: width .5s linear;
}

.hp {
	position: absolute;
	font-size: 12px;
	top: 30%;
	left: 2%;
}

.move {
	display: flex;
	justify-content: space-between;
}

.battlesprite {
		animation: battleidle 2s ease-in-out infinite;
}

#opponentpokemon .fainted {
	overflow: hidden;
	--Yfaint: 0;
	animation: fainting 1s ease forwards;
}

#userpokemon .fainted {
	overflow: hidden;
	--Yfaint: 4em;
	animation: fainting 1s ease forwards;
}

#userpokemon .attacking {
	--Xdirection: 5em;
	animation: xaxis .5s linear 2 alternate; 
}

#userpokemon .attacking div {
	--Ydirection: -5em;
	animation: yaxis .5s 2 alternate cubic-bezier(0.33333, 0.66667, 0.66667, 1);
}

#opponentpokemon .attacking {
	--Xdirection: -7em;
	animation: xaxis .5s linear 2 alternate; 
}

#opponentpokemon .attacking div {
	--Ydirection: 3em;
	animation: yaxis .5s 2 cubic-bezier(0.33333, 0, 0.66667, 0.33333) alternate;
}


@keyframes battleidle {
    0% {
		transform: translateX(-.2em) rotate(-3deg);
	} 50% {
		transform: translateX(.2em) rotate(3deg);
	} 100% {
		transform: translateX(-.2em) rotate(-3deg);
	}
}

@keyframes xaxis {
	to {
	  transform: translateX(var(--Xdirection));
	}
 }
 @keyframes yaxis {
	to {
	  transform: translateY(var(--Ydirection));
	}
 }

 @keyframes fainting {
	from {
		height: 96px;
	} to {
		transform: translateY(var(--Yfaint));
		height: 0;
	}
 }
 
 @keyframes flashing {
    from, to { 
        background-color: transparent;
    }
    50% { 
        border-color: red;
    }
}