@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&display=swap');

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

:root {
	--bordercolor: rgb(131, 73, 73);;
}

body {
	padding: 0px;
	margin: 0px;
	font: 14px "Anek Devangari", Helvetica, Arial, sans-serif;
	background-color: #131516;
	color: white;
	vertical-align: middle;
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
	  "nav"
	  "main"
  }
  

nav {
	grid-area: "nav";
	background-color: #333;
	overflow: hidden;
	display: flex;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 999;
}

body > main {
	grid-area: "main";
	display: flex;
	flex-direction: column;
	align-items: center;
  }

nav a, nav div {
	display: flex;
	float: left;
	color: #f2f2f2;
	justify-content: center;
	padding: 14px 16px;
	align-items: center;
	text-decoration: none;
	font-size: 17px;
}

nav div {
	margin-right: auto;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}

nav a.active {
	background-color: #04AA6D;
	color: white;
}
  
.login img {
	height: 30px;
}

#pokemonshow {
	display: grid;
	grid-template-columns: auto auto;
	gap: 50px;
	border: black 2px solid;
	padding: 25px;
	padding-top: 0px;
	background-color:rgb(58, 58, 58);
	border-radius: 10px;
}

#showcontrollers {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#showcontrollers form {
	margin: 0 5px;
}

#showcontrollers input {
	height: 70px;
	width: 70px;
	white-spacE: normal;
}

#sprite div {
	background-color: white;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}

#pokemonshow > div > div{
	background-color: white;
	border-radius: 10px;
	color: black;
	padding: 5px;
}

#pokemonshow > div > div > div{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	text-transform: capitalize;
}

#pokemonshow > div > div > div > div:first-child{
	font-weight: 700;
}

#mainimage {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#types {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.moves {
	flex-direction: column;
	align-items: flex-start;
}

.moves > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#movesform {
	margin-top: 10px;
}

#sprite {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#battle, #shop {
	display: flex;
	justify-content: space-between;
}

#shop {
	margin-top: 25px;
}

#shop > div{
	margin: 0 10px;
}

#items {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	height: 175px;
}

#items > div {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 10px;
}

#items > div > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#items > div > div > * {
	padding: 5px 2px;
}

#opponents, #items {
	background-color:rgb(58, 58, 58);
	border: black solid 2px;
	border-radius: 10px;
	padding: 25px;
}

table {
	border-left-width: 0;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 1rem;
	background-color: white;
	color: black;
}

th {
	font-weight: 700;
	font-size: 20px;
	padding: 10px;
}

#level {
	text-align: right;
}

td {
	padding: 10px;
}

.opponentrows table {
	width: 100%;
}

#battle > div {
	margin: 25px;
}

#statgrid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
#statgrid div {
	margin: 0px 1px;
}

.scrollable {
	overflow:scroll;
	height: 90%;
}

a {
	color: rgb(0, 173, 242);
}

a:visited {
	color:#04AA6D;
}

.release {
	margin: 50px;
}

.release input {
	color: red;
}

#newpokemon {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	border: black 2px solid;
	padding: 10px;
	background-color:rgb(58, 58, 58);
	border-radius: 10px;
	margin-bottom: 10px;
}

#newpokemon > div {
	background-color: white;
	border-radius: 10px;
	color: black;
	padding: 5px;
	margin: 0 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-width: 100px;
}

#newpokemon > div > div {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#newpokemon > div > div {
	text-transform: capitalize;
}

#img {
	max-height: 95px;
}

.battlesprite img{
	transform: scale(1.5);
}

#battleground {
	background-image: url('../images/pokebattlebackground.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 680px;
	height: 383px;
	user-select: none;
	position: relative;
}

#infopanel {
	position: absolute;
	height: 100%;
	width: 100%;
	background: white;
	display: block;
	z-index: 999;
	color: black;
}

#infopanel #movetable {
	padding: 5px;
}

#infopanel th {
	padding: 5px;
}

#infopanel td {
	padding: 1px;
}

#infopanel #moveinfo > div{
	padding: 0;
	margin: 0;
	font-size: 8px;
}

#infopanel > div {
	height: 85%;
	margin: 25px;
	display: flex;
	flex-direction: row;
	align-content: center;
	background-color: #131516;
	border-radius: 10px;
	justify-content: space-evenly;
	overflow-y: auto;
}

#infopanel > div > div {
	background-color: white;
	border-radius: 10px;
	margin: 25px;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 540px;
}

#infopanel > div > div > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 25px;
}

#infopanel > div > div > div > div> div > div:first-child{
	font-weight: 700;
}

#infopanel > div > div > div > div {
	display: flex;
	flex-direction: row;
	max-width: 500px;
}

#infopanel > div > div > div > div > div {
	padding: 5px;
}

.hidden {
	visibility: hidden;
}

#pokemonlist {
	position: relative;
}

#pokemonlist th {
	position: sticky;
	top: 50px;
	background-color: white;
}


#opponentpokemon {
	display: flex;
	justify-content: space-between;
	margin-right: 160px;
	margin-top: 40px;
}

#userpokemon .health-bar {
	align-self: flex-end;
}

#userpokemon {
	display: flex;
	margin-left: 190px;
}

#battleactions {
	background-color: white;
	border: black solid 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	flex-basis: auto;
	width: 680px;
	height: 250px;
	user-select: none;
}

#messagebox {
	margin: 10px;
	font-size: 25px;
	font-weight: 700;
	color: black;
	border: black solid 5px;
	border-radius: 10px;
	height: 200px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

#movetable {
	text-align: center;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	color: black;
	justify-content: space-evenly;
	padding: 10px;
}

#moveinfo {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#moveinfo > .headers {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 5px;
}

#info {
	white-space: pre-wrap;
}

.info {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	font-size: 15px;
	text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

#back {
	margin-top: auto;
	align-self: flex-end;
}

.info div {
	display: flex;
	justify-content: space-between
}

#opponentpokemon .info {
	margin-bottom: 100px;
}

#opponentpokemon .battlesprite {
	align-self: flex-end;
}

#userpokemon .info {
	margin-top: 50px;
}

.health-bar {
	box-sizing: border-box;
	width: 300px;
	height: 30px;
	padding: 5px;
	background: #ddd;
	border-radius: 5px;
	position: relative;
}


.bar {
	background: rgb(43, 178, 41);
	width: 100%;
	height: 20px;
	position: relative;
	
	transition: width .5s linear;
}

#pokemonshow .health-bar {
	width: 100px;
	height: 15px;
	padding: 2px;
}

#pokemonshow .bar {
	height: 10px;
	width: 0;
}

#newpokemon .health-bar {
	width: 100px;
	height: 15px;
	padding: 2px;
}

#newpokemon .bar {
	background: rgb(41, 66, 178);
	height: 10px;
	width: 0;
}

.canBattle {
	color: red;
}

.lowhealth {
	background: yellow;
}

.criticalhealth {
	background: red;

	animation: flashing .5s linear infinite;
}
  
.hit {
	background: rgba(255,255,255,0.6);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0px;
	
	transition: width .5s linear;
}

.hp {
	position: absolute;
	font-size: 12px;
	top: 30%;
	left: 2%;
}

.move {
	display: flex;
	justify-content: space-between;
}

.name {
	display: flex;
	align-items: center;
}

.state {
	padding-left: 5px;
}

.battlesprite {
		animation: battleidle 2s ease-in-out infinite;
}

#opponentpokemon .fainted {
	overflow: hidden;
	--Yfaint: 0;
	animation: fainting 1s ease forwards;
}

#userpokemon .fainted {
	overflow: hidden;
	--Yfaint: 4em;
	animation: fainting 1s ease forwards;
}

#opponentpokemon .blownaway {
	overflow: hidden;
	--Xblown: 14em;
	animation: blown .75s linear forwards;
}

#userpokemon .blownaway {
	overflow: hidden;
	--Xblown: -16em;
	animation: blown .75s linear forwards;
}

#userpokemon .physical {
	--Xdirection: 5em;
	animation: xaxis .5s linear 2 alternate; 
}

#userpokemon .physical div {
	--Ydirection: -5em;
	animation: yaxis .5s 2 alternate cubic-bezier(0.33333, 0.66667, 0.66667, 1);
}

#opponentpokemon .physical {
	--Xdirection: -7em;
	animation: xaxis .5s linear 2 alternate; 
}

#opponentpokemon .physical div {
	--Ydirection: 3em;
	animation: yaxis .5s 2 cubic-bezier(0.33333, 0, 0.66667, 0.33333) alternate;
}

#userpokemon .special {
	--Xdirection: 1em;
	--Ydirection: -.5em;
	animation: grow 1s ease-in 1;
}

#opponentpokemon .special {
	--Xdirection: -1em;
	--Ydirection: .5em;
	animation: grow 1s ease-in 1;
}

.defending {
	animation: defending 1s linear 1;
}

.status {
	animation: backandforth 1s linear 1;
}

#evolve {
	display: flex;
	justify-content: center;
}

.ownpoke {
	background-color: aquamarine;
	border-radius: 10px;
}

#items form {
	display: flex;
	flex-direction: column;
}

@keyframes battleidle {
    0% {
		transform: translateX(-.2em) rotate(-3deg);
	} 50% {
		transform: translateX(.2em) rotate(3deg);
	} 100% {
		transform: translateX(-.2em) rotate(-3deg);
	}
}

@keyframes xaxis {
	to {
	  transform: translateX(var(--Xdirection));
	}
 }
 @keyframes yaxis {
	to {
	  transform: translateY(var(--Ydirection));
	}
 }

 @keyframes grow {
    0% {
		transform: scale(1) translateX(0) translateY(0);
	} 75% {
		transform: scale(1.25) translateX(var(--Xdirection)) translateY(var(--Ydirection));
	} 100% {
		transform: scale(1) translateX(0) translateY(0);
	}
 }

 @keyframes backandforth {
	0% {
		transform: translateX(0);
	} 25% {
		transform: translateX(2em);
	} 50% {
		transform: translateX(0);
	} 75% {
		transform: translateX(-2em);
	} 100% {
		transform: translateX(0);
	}
 }

 @keyframes fainting {
	from {
		height: 96px;
	} to {
		transform: translateY(var(--Yfaint));
		height: 0;
	}
 }

 @keyframes blown {
	to {
		visibility: hidden;
		transform: translateX(var(--Xblown));
	}
 }
 
 @keyframes flashing {
    from, to { 
        background: transparent;
    }
    50% { 
        background: red;
    }
}

@keyframes defending {
	50%, 70%, 100% {
	   opacity: 1;
	}
	60%, 80% {
	   opacity: 0;
	}
 }

 @media only screen and (max-width: 576px) {
	#pokemonshow {
		grid-template-columns: auto;
		padding: 10px;
		gap: 10px;
	}
	#battle {
		flex-direction: column-reverse;
	}
	#statgrid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.nomedia {
		display: none;
	}
	#shop {
		flex-direction: column;
	}
}

@media only screen and (min-width: 577px) {
	#pokemonshow {
		max-height: 400px;
		position: sticky;
		top: 170px;
	}
}